#navBarSearchForm{
    width:520px !important;
    position: center;
}

@media screen and (max-width:1170px) {
    #navBarSearchForm{
        width:420px !important;
        position: center;
    }
}

@media screen and (max-width:1100px) {
    #navBarSearchForm{
        width:220px !important;
        position: center;
    }
}

